
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Exercise 1: Russian Alphabet Quiz</title>
</head>
<body>
<h1>Exercise 1: Russian Alphabet Quiz</h1>
<p>In this exercise, you will be asked to identify the Russian letter that corresponds to each given English letter.</p>
<form action="/submit" method="post">
<ol>
<li>A: <input type="text" name="answer1"></li>
<li>B: <input type="text" name="answer2"></li>
<li>C: <input type="text" name="answer3"></li>
<li>D: <input type="text" name="answer4"></li>
<li>E: <input type="text" name="answer5"></li>
</ol>
<input type="submit" value="Submit">
</form>
</body>
</html>

